div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px)translatez(-10px);
}
.scaled{
    margin-left: 200px;
    transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg);
}